.calendar-list
    list-style-type: none
    padding-left: 0

    +element('item')
        background-color: #fff
        margin-bottom: 15px
        padding: 10px 15px
        box-shadow: 2px 2px 4px 0px rgba(0,0,0,.5)
        +modifier('passed')
            box-shadow: 2px 2px 4px 0px green
