//MAIN

.header
    height: 400px
    background: url('../images/banner.jpg') no-repeat top center
    background-size: cover
    border-bottom: 5px solid #000

.navigation
    height: 52px
    background-color: rgba(244, 66, 66,.75)
    border-bottom: 2px solid #fff

    a
        color: white

    .icon-bar
        background-color: white
        transition: transform .3s ease-in-out



.navbar-toggle[aria-expanded="true"]
    span
        &:nth-of-type(2)
            transform: translate(0,6px) rotate(45deg)
        &:nth-of-type(4)
            visibility: hidden
        &:nth-of-type(3)
            transform: rotate(-45deg)


.navbar-toggle[aria-expanded="false"]

//BOOTSTRAP OVERRIDES
.nav > li >a:focus,
.nav > li >a:hover
    background-color: rgb(244, 66, 66)
//MEDIA QUERIES

//MEDIA QUERIES

@media screen and (max-width: 767px)
    .navigation-list
        background-color: rgba(244, 66, 66,.75)
        margin: 1px -15px
        text-align: center
