.header
    height: 400px
    background: url('../images/banner.jpg') no-repeat top center
    background-size: cover
    border-bottom: 5px solid #000

.navigation
    height: 52px
    background-color: rgba(244, 66, 66,.75)
    border-bottom: 2px solid #fff

    a
        color: white

    .icon-bar
        background-color: white

.navbar-toggle[aria-expanded="true"]
    .icon-bar

.navbar-toggle[aria-expanded="false"]
    .icon-bar
        &:first-of-type
