@function font-path($path)
  @return $path


@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-compass"
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets"
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-custom"

@import url('https://fonts.googleapis.com/css?family=Mitr:300,400,600')

$background-color: #ededed
$main-grey: #8a8a8a
$green-completed: rgba(52, 175, 7,.85)
$yellow: #FFF176

$theme-stormy: #494E6B
$theme-cloud: #98878F
$theme-sunset: #985E6D
$theme-evening: #192231
$theme-evening-rgb: rgb(25,34,49)
$theme-cloud-rgb: rgb(152,135,143)
