<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <span class="footer__author">Paweł Marcinkowski &copy; 2017</span>
            <div>
                <a class="footer__icon" href="https://github.com/wafel34/" title="Auhor's Github Account">
                    <span class="fa fa-github" aria-hidden="true"></span>
                </a>
                <a class="footer__icon" href="https://www.linkedin.com/in/pawel-marcinkowski/" title="Auhor's LinkedIn Account">
                    <span class="fa fa-linkedin" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</footer>
