<!DOCTYPE HTML>
<html lang="en">
<%include partials/templates/html_head%>
<body>
<%include partials/templates/header%>

<div class="container">
    <div id="image-header" class="image-header">

    </div>
    <h1 class="text-center"><%=data.place%>, <%=data.country%></h1>
</div><!--container-->


<%include partials/templates/scripts%>
</body>
</html>
